.dark {
  --color-text-primary: #ffffff;

  --color-icon-primary: #ffffff;
  --color-icon-secondary: #00a2ff;

  --color-accent-primary: #e100ff;

  --text-shadow-thirdly:
    0 0 5px rgba(46, 238, 255, 0.638), 0 0 15px rgba(0, 255, 238, 0.653);

  --box-shadow-button: 0px 0px 35px 5px rgba(0, 0, 0, 0.464);

  --linear-gradient: linear-gradient(
    130deg,
    rgba(0, 149, 255, 0.968),
    rgba(128, 0, 255, 0.893)
  );

  --glass-background: linear-gradient(
    145deg,
    rgba(0, 119, 255, 0.37),
    rgba(119, 0, 255, 0.362)
  );
  --glass-highlight-background: linear-gradient(
    180deg,
    rgba(125, 39, 255, 0.46) 0%,
    rgba(147, 108, 255, 0.149) 40%,
    transparent 60%
  );
  --glass-glow-background: radial-gradient(
    circle at bottom,
    rgba(157, 0, 255, 0.148),
    transparent 45%
  );
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-padding-top: var(--header-height);
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: var(--font-family-primary);
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--color-surface-thirdly);
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}

.keyboard-focus :focus-visible,
.keyboard-focus :focus {
  outline: 1px dashed var(--color-text-primary);
  outline-offset: 5px;
  transition-duration: 0s !important;
}

:focus {
  outline: none;
}
