@use "@/styles/helpers" as *;

.navList {
  display: flex;
  gap: 12px;
  list-style: none;

  @include mobile {
    flex-direction: column;
  }
}

.navItem {
  @include flex-center;
  @include fluid-text(18, 14);

  position: relative;
  padding: 8px 20px;
  border-radius: var(--border-radius);
  color: var(--color-text-primary);
  cursor: pointer;
  isolation: isolate;
  text-decoration: none;
  overflow: hidden;
  transition-duration: var(--transition-duration-alt);

  & span {
    position: relative;
    user-select: none;
  }

  @include hover {
    color: var(--color-accent-primary);
    box-shadow: var(--box-shadow-petty);
    text-shadow: var(--text-shadow-accent);
    filter: saturate(500%);

    .bubble {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.bubble {
  @include glass-bubble;

  opacity: 0;
  transform: scale(0.8);
  box-shadow: var(--box-shadow-inset-accent);
  transition-duration: var(--transition-duration-alt);
}
