@use "@/styles/helpers" as *;

.section {
  @include container;

  width: 100%;
}

.sectionTitle {
  @include visually-hidden;
}

.mainSectionBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  column-gap: 50px;

  @include laptop {
    column-gap: 25px;
  }

  @include mobile {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.groupTitle {
  @include section-subtitle;

  & .groupAccent {
    text-shadow:
      0 0 6px var(--color-accent-primary),
      0 0 20px rgb(from var(--color-accent-primary) r g b / 0.7);
  }
}

.skillsList {
  @include glass;

  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
  row-gap: 10px;
}

.skillsItem {
  @include glass-base;

  padding: 20px;
  font-size: 16px;
  color: var(--color-text-primary);
  transition:
    box-shadow var(--transition-duration) ease,
    text-shadow var(--transition-duration) ease;
  text-shadow: var(--text-shadow-secondary-alt);

  @include hover {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow:
      0 0px 0px rgba(0, 0, 0, 0),
      inset 5px 5px 5px rgba(0, 0, 0, 0.462),
      inset 0 0px 0px rgba(255, 255, 255, 0);
    text-shadow: var(--text-shadow-thirdly);
  }
}
