@use "@/styles/helpers" as *;

.wrapper {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  min-width: 175px;
}

.wrapper[data-side="right"] {
  flex-direction: row-reverse;
}

.avatar {
  @include square(44px);
  @include glass-base(50%);

  flex-shrink: 0;
  margin-bottom: 5px;
  object-fit: cover;

  @include hover {
    filter: brightness(1.1);
  }
}

.glass {
  @include glass;

  padding: 14px 22px;
  overflow: hidden;

  @include hover {
    border-top: 1px solid rgb(from var(--color-accent-primary) r g b / 0.7);
    border-bottom: 1px solid rgb(from var(--color-accent-primary) r g b / 0.7);
  }
}

.name {
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 4px;
}

.text {
  line-height: 1.5;
  isolation: isolate;
  text-shadow: var(--text-shadow-secondary-alt);
}

.tail {
  @include square(24px);

  position: absolute;
  bottom: 14px;
  background: rgba(210, 238, 255, 0.204);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  transform: rotate(45deg);
}

.wrapper[data-side="left"] .tail {
  left: -10px;
}

.wrapper[data-side="right"] .tail {
  right: -10px;
}
