@use "@/styles/helpers" as *;

.sectionSubtitle {
  @include section-subtitle;

  @include mobile {
    text-align: center;
    padding-left: 0px;
  }
}

.nameWrapper {
  @include glass;

  display: inline-flex;
  padding-inline: 10px;
  border: none;
  background-color: #1e00ffe0;
}

.name {
  @include fluid-text(28, 22);

  background-image: linear-gradient(10deg, #00f7ff 40%, #d53eff 60%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-transform: none;
  text-shadow: none;
  white-space: nowrap;
}

.projectBody {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  row-gap: 12px;

  @include laptop {
    grid-template-columns: 1fr;
  }
}

.media {
  @include glass;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  row-gap: 15px;
  padding: 40px;

  @include hover {
    border-top: 1px solid rgb(from var(--color-accent-primary) r g b / 0.7);
    border-bottom: 1px solid rgb(from var(--color-accent-primary) r g b / 0.7);
  }

  @include laptop {
    align-items: center;
    width: 100%;
    max-height: 1000px;
  }

  @include mobile {
    padding: 20px;
    max-height: 800px;
  }

  @include mobile-s {
    max-height: 600px;
  }
}

.imageButtonWrapper {
  @include reset-button;

  position: relative;
  display: flex;
  border-radius: inherit;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  transition-duration: var(--transition-duration-alt);

  @include hover {
    box-shadow: none;

    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: var(--box-shadow-inset);
    opacity: 0;
    transition: opacity var(--transition-duration-alt) ease;
    pointer-events: none;
  }

  @include laptop {
    width: 70%;
  }

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: fit-content;
  }
}

.image {
  width: 100%;
  height: 100%;
  transform: scale(1.01);
  object-position: top;
  cursor: pointer;
  transition-duration: var(--transition-duration-alt);
  will-change: transform;

  @include hover {
    transform: scale(1.05);
  }

  @include laptop {
    object-fit: cover;
  }
}

.buttonGroup {
  @include flex-center;

  flex-wrap: wrap;
  gap: 8px;

  & .button {
    flex-grow: 1;
    padding-block: 15px;
  }
}

.projectInfo {
  @include glass;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  height: auto;
  padding: 40px;

  @include hover {
    border-top: 1px solid rgb(from var(--color-accent-primary) r g b / 0.7);
    border-bottom: 1px solid rgb(from var(--color-accent-primary) r g b / 0.7);
  }

  @include mobile {
    padding: 20px;
  }
}

.baseInfoContainer {
  isolation: isolate;
}

.header {
  display: flex;
  justify-content: start;
  align-items: end;
  column-gap: 10px;
  padding-bottom: 25px;

  @include mobile {
    align-items: center;
  }

  & .headerIcon {
    @include square(45px);

    flex-shrink: 0;
    color: var(--color-icon-secondary);

    @include mobile {
      @include square(40px);
    }
  }

  & .headerTitle {
    @include fluid-text(25, 18);

    line-height: 100%;
    color: var(--color-text-primary);
    text-shadow: var(--text-shadow-primary);

    @include mobile {
      line-height: normal;
    }
  }
}

.briefDescription {
  @include fluid-text(18, 16);

  color: var(--color-text-primary);
  text-shadow: var(--text-shadow-secondary-alt);
}

.projectStack {
  & > li:last-child img {
    filter: saturate(350%);
  }
}

.projectDetails {
  @include glass;

  grid-column: 1 / 3;
  padding: 40px;

  @include hover {
    border-top: 1px solid rgb(from var(--color-accent-primary) r g b / 0.7);
    border-bottom: 1px solid rgb(from var(--color-accent-primary) r g b / 0.7);
  }

  @include laptop {
    grid-column: 1;
  }

  @include mobile {
    padding: 20px;
  }
}

.detailsInner {
  isolation: isolate;
}

.detailsList {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding-left: 24px;
  list-style: disc;
}

.detailsItem {
  @include fluid-text(18, 16);

  color: var(--color-text-primary);
  text-shadow: var(--text-shadow-secondary-alt);
}
